body{
    background-image: url("../img/pattern.jpg");
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}



ul{
    list-style-type: none;
    display: inline-block;
}

ul li{
    display: inline-block;
    padding-right: 10px;
    color: blue;
}

a{
    font-size: 17px;
    text-decoration: none;
}



h1{
    text-align: center;
    font-size: 25px;
}

section{
    background-color: white;
    border: white solid 1px;
    margin: 90px 200px 0 200px;
    padding: 30px 8 8 8;
}

article{
    border-bottom: black solid 2px;
}

footer{
    background-color: black;
    padding: 0 0 5px 0;

}

h5{
    color: white;
    text-align: center;
    padding: 20 0 0 0;
    font-size: larger;
}
